.form__group {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 26vw;
  height: 13vh;
  border-radius: 5px;
  background-color: $basic-background-color;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
  color: #4b4b4b;

  @media (max-width: $mobile-width) {
    width: 60vw;
    height: 13vh;
  }
}

.form__btn {
  height: 40px;
  width: 100px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid $first-text-color;
  text-align: center;
  color: $first-text-color;
  font-weight: 600;
  text-transform: uppercase;
  background-color: $second-text-color;

  &:hover,
  &:focus {
    background-color: rgba(200, 52, 45, 0.8);
  }

  &:active {
    opacity: 0.5;
  }
}
