.main-header {
  background: url("../img/bg-promo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $promo-background-color;
  color: $first-text-color;
  padding-bottom: 80px;
}

.main-header__nav {
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  text-align: right;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
