//Color-scheme

$basic-background-color: #ffffff;
$promo-background-color: #353c46;
$branding-background-color: #f5f5f5;
$modal-background-color: #f2f2f2;

$main-text-color: #0f0a00;
$first-text-color: #ffffff;
$second-text-color: #c8342d;
$lines-color: #9bb968;
$accent-color: #d22856;

//Breakpoints-widths

$mobile-width: 767px;
$tablet-width: 991px;
